<h1>Takuya's Records</h1>
<%= image_tag 'record_top.jpg' %>

<div class="container">
  <ul>
    <h2>About this site</h2>
    <li>その時思ったこと、感じたことを自由に記録できるサイトです</li>
  </ul>
  <ul>
    <h2>How to Use</h2>
    <ul>
      <li>サイト上部の「新規投稿」から記録の作成ができます</li>
      <li>本文は1~140文字で入力可能です</li>
      <li>記録はサイト上部の「投稿一覧」から確認でき、編集・削除もできます</li>
    </ul>
  </ul>
</div>
