h1, h2, h3 {
  background-color: #2c3e50;
  color: #FFFFFF;
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}

body {
  background-color: #CCFFFF;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

ul{
  padding:0;
}

li{
  list-style:none;
}

.row{
  margin-top: 5px;
}

header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  position: relative;
  bottom: 0;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

img {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-bottom: 10px;
}

.div {
  margin-left : auto;
  margin-right: auto;
}

.notice {
  width: 100%;
  font-size: 2rem;
}

button {
  margin-left : 2rem;
  margin-right: 2rem;
}

.record_tweet {
  padding: 2rem;
}

.record_content_tabel {
  font-size: 2rem;
}

#back_to_index {
  margin-top: 2rem;
}

#back {
  margin-top: 2rem;
}

.error {
  background-color: #FF0000;
  color : #FFFFFF;
}